name = "epir-analityc-worker"
main = "src/index.ts"
compatibility_date = "2025-09-30"
compatibility_flags = ["nodejs_compat"]
workers_dev = false

[build]
command = ""

[[d1_databases]]
binding = "DB"
database_name = "epir_art_jewellery"
database_id = "6a4f7cbb-3c1c-42c7-9d79-4ef74d421f23"

[observability]
enabled = true
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
